body {
    font-family: Arial, sans-serif;
    margin: 10rem;

}
.container{
    height: auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: rgb(190, 236, 247);

}
input {
    padding: 6px;
    font-size: 16px;
    width: 150px;
}
button {
    padding: 6px 12px;
    font-size: 16px;
    margin-left: 8px;
    background-color: blue;
    color: white;
}
#result {
    margin-top: 18px;
    font-size: 2rem;
    font-weight: bold;
}
